.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.create-pixel{
  width: 25px;
  height: 25px;
  background-color: #ffffff;
  border: none;
}
.create-pixel:hover{
  background-color: #8d8d8d;
}


#pixel-display{
  background-color: rgb(102, 102, 102);
  display: inline-grid;
  grid-template-columns: repeat(10, 10fr);
  justify-content: space-evenly;
  gap: 1px;
  border: solid;
}

.pet-container{
  display: inline-grid;
  grid-template-columns: repeat(4, 4fr);
  justify-content: space-evenly;
  gap: 10px;
}

.user-message{
  background-color: rgb(185, 120, 120);
}

.other-message{
background-color: rgb(173, 173, 212);
}

.pet-image-pixel-black{
  background-color: black;
  width: 10px;
  height: 10px;
}

.pet-image-pixel-white{
  background-color: white;
  width: 10px;
  height: 10px;
}

.pet-image{
  display: inline-grid;
  grid-template-columns: repeat(10, 10fr);
  justify-content: space-evenly;
  gap: 1px;
  /* animation: shake 2s cubic-bezier(.36,.07,.19,.97) both; */
}

/* @keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
} */